.list-tit {
  background: #ebf4f8;
  display: inline-block;
  font-weight: bold;
  font-size: 1.5em;
  margin: 0 0 0 1.2em;
  padding: .5em;
}
.tit-bor {
  background: linear-gradient(90deg, #99bdde 0%, #99bdde 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 20%;
}
.list-box {
  background: #ebf4f8;
  border-radius: 10px;
  padding: .5em 0;
}
.list-design {
  list-style-type: disc;
}
.list-design li {
  margin-top: 10px;
  font-size: 25px;
}
.list-design li:first-of-type {
  margin-top: 0;
}
.list-design li::marker {
  color: #99bdde;
}