.card-wrapper {
 
  display: flex;
  justify-content: space-between;
  padding-left: 90px;
    width: 85%;
    padding-right: 90px;
    text-align: center;
}

.card {
  
  display: flex;
  flex-direction: column;
  object-fit: cover;
  flex-wrap: wrap;
  margin: 5px;
}



.card-text {
  flex-grow: 1;
  
}

.card-content {
  flex: 1 1 auto;
  background: #e6e6e6;
  display: flex;
  flex-direction: column;
}

.card-content {
  font-size: 10px;
}

.kyara-title {
  text-align: center;
  font-family: "Zen Antique Soft", serif;
  font-weight: 400;
  font-style: normal;
}

.kyara-title-s {
  padding-top: 40px;
  text-align: center;
  font-family: "Zen Antique Soft", serif;
  font-weight: 400;
  font-style: normal;
}

.table_design03 {
  border-collapse: collapse;
  width: 100%;
  max-width: 700px;
  text-align: center;
  margin: auto;
}
.table_design03 th, .table_design03 td {
  border-bottom: 2px solid #c1c7c6;
  padding: 1em;
}
.table_design03 th {
  border-bottom: 2px solid #4d9bc1;;
  font-weight: bold;
  text-align: center;
  width: 20%;
  min-width: 4em;
}
.card-content h2 {
  font-size: 10px;
}
@media screen and (max-width:768px) {
.card-wrapper {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  width: 85%;
  padding-right: 0px;
  text-align: center;
  flex-wrap: wrap;
}
}