body {
  margin: 0;
}

.rogo{
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 0 15px 30px;
	width: 125px;
}
.rogo img{
	width: 100%;
	height: auto;
}
.fix_menu{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 999;
	padding: 30px 0;
  background-color: #999;
}
#navwrap{
	position: absolute;
	top: 0;
	right: 0;
	padding: 15px 30px 15px 0;
}
.header_menu{
	display: flex;
}
ul,li{
	list-style: none;
	margin: 0;
}
.header_menu li a{
	cursor: pointer;
	padding: 0 10px;
	text-decoration: none;
	color: #fff;
}
#switch{
	display: none;
}
.main p{
	padding: 500px 0;
	text-align: center;
}
@media screen and (max-width:768px) {
	#switch ~ label {
		padding: 12px 12px;
		width: 60px;
		height: 60px;
		background: #333;
		position: fixed;
		box-sizing: border-box;
		top: 0;
		right: 0;
		z-index: 999;
		cursor: pointer;
	}
	#switch ~ label span{
		display: block;
		width:22px;
		height:2px;
		top: 50%;
		left: 0;
		right: 0;
		margin:auto;
		background: #fff;
		position: absolute;
		-webkit-transition: 0.2s transform;
		transition: 0.2s transform;
	}
	#switch ~ label span:before,
	#switch ~ label span:after{
		content: "";
		display: block;
		background: #fff;
		position: absolute;
		width:22px;
		height:2px;
		left: 0;
		right: 0;
		margin: auto;
	}
	#switch ~ label span:before{
		top: -9px;
	}
	#switch ~ label span:after{
		top: 9px;
	}
	#navwrap{
		padding-top: 0;
		position: fixed;
		top: -100%;
		left: 0;
		width: calc(100% - 60px);
		height: 100%;
		background: rgba(0,0,0,0.8);
		transition: all 0.4s;
		padding: 60px;
		box-sizing: border-box;
	}
	#switch:checked ~ #navwrap { 
		display: block; 
		top: 0;
	}
	.header_menu{
		display: flex;
		flex-direction: column;
	}
	.header_menu li{
		margin: 0 auto 30px;
	}
	.header_menu li a{
		color: #fff;
	}
	.scroll-prevent {
		position: fixed;
		z-index: -1;
		width: 100%;
		height: 100%;
	}
  
}
 
.main-img {
  width: 100%;
  margin-bottom: 40px;
}  

.main-img img {
  width: 100%;
}

.valo-game {
  padding: 0px 50px 0px 60px;
}

.game-title {
  text-align: center;
  font-size: 40px;
	font-family: "Zen Antique Soft", serif;
  font-weight: 400;
  font-style: normal;
}

.game-setumei {
  text-align: center;
  font-size: 20px;
		font-family: "Zen Antique Soft", serif;
		font-weight: 400;
		font-style: normal;

	
}

.game img {
  width: 70%;
  margin: 10px ; 
}

a.game-btn {
  color: #000;
  background-color: #fff100;
  border-bottom: 5px solid #ccc100;
  text-decoration: none;
}

a.game-btn {
  margin-top: 3px;
  color: #000;
  background: #fff20a;
  border-bottom: 2px solid #ccc100;
	font-size: 20px;
}


.valo-menu {
  padding-top: 50px;
}
.pr-area {
  margin-bottom: 30px;
}

.pr-area li {
  float: left;
  margin: 0 5px;
  width: 31%;
}

.pr-area li h2 {
  border-left: 5px solid #16a765;
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 5px 0;
  padding-left: 10px;
}

.pr-area .shadow {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 5px;
  box-shadow: 3px 3px 3px #ddd;
}

.pr-area .shadow:hover {
  opacity: 0.6;
}

.pr-area .trim-img {
  width: 100%;
  height: 50%;
  overflow: hidden;
}

.pr-area p {
  font-size: 13px;
  line-height: 1.8;
  padding: 5px;
}

.pr-area a p:hover {
  color: #16a765;
  text-decoration: underline;
}

.valo-taikai li{
  font-weight: bold;
  margin: 0 0 5px 0;
  padding-left: 10px;
}

.valo-taikai h2 {
  border-left: 5px solid #16a765;
  display: inline-block;
}

html {
  font-family: sans-serif;
}

body {
  
}

.footer a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

.footer {
  padding: 2rem;
  font-size: 15px;
  color: #fff;
  background: #999;
  border-top: 1px solid #e5e7eb;
}

.footer a:hover {
  
}

@media (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: space-between;
  }

  .md-flex {
    display: flex;
  }

  .md-flex li + li {
    margin-left: 16px;
  }
}

@media screen and (max-width:768px) {
  .game-setumei {
    font-size: 10px;
  }
  .game img {
    width: 100%;
  }
  .pr-area li h2 {
    border-left: 5px solid #16a765;
    font-size: 11px;
    font-weight: bold;
    margin: 0 0 5px 0;
    padding-left: 10px;
  }
  .pr-area li {
    float: left;
    
    width: 30%;
}
.pr-area p {
  font-size: 10px;
  line-height: 1.8;
  padding: 5px;
}
}